*{
  margin:0px;
}

.app{
  background-color:#fafafa;
}


.app__headerImage {
  width: 80px;
  object-fit: contain;
}
.app__header{

  position: sticky;
  top:0;

object-fit: contain;
background-color: white;
padding:20px;
border-bottom:1px solid gray;
object-fit: contain;
justify-content: space-between;
display: flex;
}

.app__signup{
  display: flex !important;
  flex-direction: column !important;
}

.app__posts{
  padding:20px;
  /* display: flex; */
  justify-content: center;
}